<div class="footer">
    <h3>About Us</h3>
    <p>By prioritizing industrialization and luxury, humanity risks neglecting the vital gift of clean air, facing extinction like other species. Lack of awareness exacerbates this crisis, highlighted by the COVID-19 pandemic. Despite technological feats, we must emulate nature's wisdom for survival,
       focusing on environmental conservation and human welfare.</p>
    <div class="contact-info">
      <p><i class="fab fa-whatsapp"></i> WhatsApp: +918977007978</p>
      <p><i class="fas fa-envelope"></i> Email: bppf.fou&#64;gmail.com</p>
      <p><i class="fas fa-map-marker-alt"></i> Address: flat no-35, Nethaji Bhavan, jelalist colony, road no-3 Banjarahills, Hyderabad.</p>
    </div>
    <p>&copy; All rights reserved to BPPF organisation</p>
  </div>
