<nav class="navbar">
    <div class="logo">
      <img src="/assets/logo.png" alt="Logo">
    </div>
    <div class="icon" [class.open]="navOpen" *ngIf="isMobile" (click)="toggleNav()">
        <img src="/assets/more.png" alt="Icon">
    </div>
    <ul class="nav-links" [class.nav-open]="navOpen">
      <li><a routerLink="/home" routerLinkActive="active" (click)="toggleNav()">Home</a></li>
      <li><a routerLink="/forestation" routerLinkActive="active" (click)="toggleNav()">Forestation</a></li>
      <li><a routerLink="/Water" routerLinkActive="active" (click)="toggleNav()">Water Harvesting</a></li>
      <li><a routerLink="/education" routerLinkActive="active" (click)="toggleNav()">Education</a></li>
      <li><a routerLink="/health" routerLinkActive="active" (click)="toggleNav()">Health</a></li>
      <li><a routerLink="/agriculture" routerLinkActive="active" (click)="toggleNav()">Agriculture</a></li>
    </ul>
  </nav>