<div class="top-image">
    <img src="./assets/farmerMB.jpg" alt="Top Image">
    <div class="hover-text"><b>BARATHIYA PARAMPARA PRATHISTAN</b></div> 
</div>

<div class="content">
  <div class="para">
    <h1>WHO WE ARE..!</h1>
    <p>BPPF is a dedicated organization committed to restoring balance in the clean air, water, food for present and future generation and ecosystem through activities such as forestation. Their action team is actively working in rural areas, encouraging communities to participate and achieve desired environmental outcomes. 
    As responsible individuals, it's our duty to support this commendable initiative. Currently,
    a pilot project is being planned in Telangana state, marking the beginning of this significant endeavor. Your contribution can make a substantial difference in this mission, helping to create a sustainable future for all.</p>
  </div>
</div>

<div class="name">
  <h1>Our Projects</h1>
</div> 
<div class="chakra">
  <img src="/assets/chakra3.png" alt="">
</div>

<div class="parent">
  <div class="image-container">
       <img src="assets/forestation.jpg" alt="Image Right">
  </div>
  <div class="text-container">
    <h2 class="my-h2" style="text-align: center;">Forestation</h2>
    <p class="my-p">We're dedicated to extensive reforestation to counter deforestation. Our diverse vegetation planting replenishes areas, mitigating climate change. Our grassroots initiative aims to plant 50,000 trees per village, enhancing biodiversity and air quality. We support farmers with oxygen-producing,
       fruit-bearing plants for sustainability, aiming to plant 100 crore trees globally.
      </p>
      <button routerLink="/forestation">view deatils</button>
  </div>
</div>

<div class="parent2">
  <div class="image-container2">
       <img src="assets/water/pic3.jpg" alt="Image Right">
  </div>
  <div class="text-container2">
    <h2 class="my-h2" style="text-align: center;">Water Harvesting</h2>
    <p class="my-p">Preserving potable water is crucial. Our initiatives focus on rainwater harvesting, improving groundwater, and preventing river water wastage. By promoting sustainable practices and community involvement, we strive to ensure clean water access for all,
       fostering a future where communities thrive in harmony with nature.
      </p>
      <button routerLink="/Water">view deatils</button>
  </div>
</div>

<div class="parent">
  <div class="image-container">
       <img src="assets/education.jpg" alt="Image Right">
  </div>
  <div class="text-container">
    <h2 class="my-h2" style="text-align: center;">Education</h2>
    <p class="my-p">Commercialization can hinder education's holistic development. Progressive activities fostering critical thinking are vital. BPPF aids government schools with resources for inclusive, quality education. The integration of technology, experiential learning,
       and environmental consciousness are essential for societal progress and empowerment.
      </p>
      <button routerLink="/education">view deatils</button>
  </div>
</div>

<div class="parent2">
  <div class="image-container2">
       <img src="assets/health.jpg" alt="Image Right">
  </div>
  <div class="text-container2">
    <h2 class="my-h2" style="text-align: center;">Health</h2>
    <p class="my-p">In today's hectic world, health often takes a backseat to career and social pressures. Reconnecting with cultural practices like yoga and Ayurveda, alongside promoting sustainable living, is crucial. Organizations like BPPF advocate for holistic wellness 
      through education and community support, ensuring a healthier future for all.
      </p>
      <button routerLink="/health">view deatils</button>
  </div>
</div>

<div class="parent">
  <div class="image-container">
       <img src="assets/agriculture/pic2.jpg" alt="agriculture picture">
  </div>
  <div class="text-container">
      <h2 class="my-h2" style="text-align: center;">Agriculture</h2>
      <p class="my-p">Transitioning farmers to sustainable practices, like organic farming and GM crops, ensures food security and environmental preservation. Organizations play a key role by providing support and resources for sustainable farming methods,
         aiding in the resilience of food systems and ecosystem health.
        </p>
      <button class="my-button" routerLink="/agriculture">View Details</button>
  </div>
</div>

<div class="container">
  <div class="item">
    <h2>Kosaraju Shiva Koti Ram</h2>
    <p>Founder & Chairman</p>
  </div>
  <div class="item">
    <h2>Bairi Rani</h2>
    <p>Director</p>
  </div>
</div>

<div class="form-container">
  <!-- Paste your Google Form embed code here -->
  <iframe src="
  https://docs.google.com/forms/d/e/1FAIpQLScAC7tBwgnPRdBL4H8glQaFNpR58KkOL30lKAUiabZ8ODvKOA/viewform?embedded=true"
  width="700" height="400" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
